.button {
  @apply px-6 py-3 uppercase transition-all duration-200 inline-flex justify-items-center;

  transform: translateY(0);
}

.button:hover {
  @apply text-white;

  background-image: linear-gradient(
    92.05deg,
    #bca1f7 12.09%,
    #e577b4 42.58%,
    #ff7170 84.96%
  );
  transform: translateY(-5px);
}

.button:focus {
  @apply outline-none;
}

.buttonSmall {
  @apply px-4 py-2;
}

.buttonIsLink {
}

.buttonBlock {
  @apply flex w-full;
}
