@import './variables.css';
@import-normalize;

html,
body {
    line-height: 1.5;
    font-family: 'Maven Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color__background);
    color: var(--color__font);
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.1rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

strong {
    font-weight: 700;
}

h1,
.h1 {
    font-family: 'Fira Code', monospace;
}

h2,
.h2 {
    font-family: 'Fira Code', monospace;
    font-size: responsive 2rem 2.5rem; /* min-size, max-size */
    margin-top: 0;
    line-height: 1.4;
}

h3,
.h3 {
    font-family: 'Fira Code', monospace;
    font-size: responsive 1.5rem 2rem; /* min-size, max-size */
    font-weight: 300;
    margin-top: 0;
    line-height: 1.4;
}

h4,
.h4 {
    font-family: 'Fira Code', monospace;
    font-size: 1.25rem; /* min-size, max-size */
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.4;
}

h2 + h3,
.h2 + .h3 {
    margin-top: -10px;
}

@media (min-width: 1200px) {
    h2 + h3,
    .h2 + .h3 {
        margin-top: -30px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--color__secondary);
    transition: box-shadow 0.2s;
    text-decoration: none;
}

a:hover {
    box-shadow: 0 1px 0 var(--color__secondary);
}

a:focus {
    outline: 3px solid color(var(--color__secondary) a(50%));
}

a:active {
    outline: none;
    text-decoration: none;
}

p:last-child {
    margin-bottom: 0;
}

pre {
    font-family: 'Fira Code', monospace !important;
    overflow-x: auto;
    background-color: var(--color__card--level-2) !important;
    padding: 0.45rem 1rem !important;
    border-radius: var(--border-radius);
}

code {
    font-family: 'Fira Code', monospace !important;
    overflow-x: auto;
    font-size: 0.9em;
    padding: 4px 10px;
    border-radius: var(--border-radius);
}

pre code {
    font-size: 0.9em;
    padding: 0;
    border-radius: 0;
}
