:root {
    --color__primary: #f03f32;
    --color__primary--dark: #360940;
    --color__secondary: #32f0d1;
    --color__secondary--dark: #104f98;
    --color__footer: #0c0c0c;
    --color__background: #111111;
    --color__card--level-1: rgba(255, 255, 255, 0.05);
    --color__card--level-2: rgba(255, 255, 255, 0.1);
    --color__font: #ececed;
    --color__font--secondary: #a4a4a5;
    --border-radius: 5px;
}
