.card {
  @apply block relative z-10;
}

.cardInner {
  @apply bg-white bg-opacity-5 rounded-xl overflow-hidden transition-transform duration-200 relative h-full;
}

.cardIsLink .cardInner::before {
  @apply inset-0;

  z-index: -1;
  content: '';
  background: linear-gradient(90deg, #f61b10, #ef0963);
  transition: opacity 0.2s;
  opacity: 0;
  position: absolute;
}

.card:hover .cardInner {
  transform: translateY(-10px);
}

.card:hover .cardInner::before {
  opacity: 1;
}

.cardContent {
  @apply p-8 w-full;
}

.cardSmall .cardContent {
  @apply p-5;
}
