.navigation {
  @apply z-20 w-full mt-10 bg-transparent;

  transform: translateY(0%);
}

.navbar {
  @apply relative flex;
}

.link,
.social__link {
  @apply block mx-4 my-2 text-white duration-300 transition-color;
}

@screen md {
  .link:first-child {
    @apply ml-0;
  }
}

.social__link {
  @apply mx-3;
}
.social__link:last-child {
  @apply mr-0;
}

.link::after {
  @apply block mt-2 transition-all duration-300 bg-white h-sm;

  width: 0%;
  content: '';
}

.link:hover,
.linkActive,
.social__link:hover {
  @apply text-primary;
}

.linkActive::after {
  @apply w-full bg-primary;
}

.main {
  @apply flex;
}

.social {
  @apply hidden;
}

@screen md {
  .social {
    @apply flex ml-auto;
  }
}
