@import '../assets/css/variables.css';

.contactMe {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.contactMe a:hover {
    box-shadow: none;
}

.contactMe__message {
    position: relative;
    display: inline-block;
    background-color: color(var(--color__base) tint(20));
    vertical-align: bottom;
    color: var(--color__font);
    padding: 10px 20px;
    width: 200px;
    height: 80px;
    border-radius: 4px;
    box-shadow: var(--shadow);
}

.contactMe__message:before {
    position: absolute;
    right: -15px;
    top: 10px;
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid color(var(--color__base) tint(20));
}

.contactMe__image {
    padding: 5px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    background-image: linear-gradient(
        135deg,
        var(--color__primary) 0%,
        var(--color__primary--dark) 100%
    );
    vertical-align: bottom;
    height: 85px;
    width: 85px;
    box-shadow: var(--shadow);
}

.contactMe__image img {
    height: 75px;
    width: 75px;
    border-radius: 40px;
}
