@import '../assets/css/variables.css';

h4 {
    margin-bottom: 0;
}

time {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
}

.article {
    opacity: 1;
    transition: opacity 0.5s, transform 0.8s;
}

.below-viewport {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1);
}

.article.in-viewport {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.articleTime {
    color: var(--color__font--secondary);
}

.image {
    position: relative;
    padding-bottom: 56.25%;
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

.articleImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.body {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    margin-top: 1rem;
}

.description {
    font-style: italic;
}
