.intro {
  @apply flex flex-col justify-center bg-cover relative;

  background-position: 50%;
  height: 600px;
  z-index: 1;
}

.intro::before {
  @apply absolute inset-0 bg-black bg-opacity-50;

  content: '';
  z-index: -1;
}

.title {
  @apply text-4xl font-bold leading-normal text-center;

  background: linear-gradient(145deg, #f81f01, #ee076e);
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@screen md {
  .title {
    @apply text-5xl leading-tight;
  }
}

.titleHighlight {
  @apply text-primary;
}

.text {
  @apply uppercase text-white opacity-50 text-xl text-center;
}
