@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants hover {
    .text-gradient {
      @apply inline-block text-transparent bg-clip-text bg-gradient-to-br from-blue-500 to-teal-400;
    }
  }

  .border-gradient {
    @apply border-3 border-gradient-br-primary;
    border-image-slice: 1;
  }
}

@layer base {
  h1,
  .h1 {
    @apply text-5xl font-bold tracking-tight text-white md:text-6xl lg:text-8xl font-header;

    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga1' on;
  }
  h2,
  .h2 {
    @apply text-4xl font-bold tracking-tight md:text-5xl font-header;

    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga', 'dlig';
  }
  h3,
  .h3 {
    @apply text-lg font-bold tracking-tight md:text-xl font-header;

    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga', 'dlig';
  }
}
