@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
@layer base {
  body {
    @apply bg-background text-baseWhite font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-heading;
  }

  p {
    @apply mb-4;
  }

  a {
    @apply break-words;
  }
}

.headroom-wrapper {
  @apply w-full absolute;
}

.headroom {
  @apply bg-transparent transition-background duration-200;

  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  position: absolute;
  will-change: transform;
}

.headroom--unfixed {
  position: absolute;
  transform: translateY(0);
}

.headroom--scrolled {
  @apply bg-black;

  transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}

.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

.container {
  @apply px-4;
}

.prose code {
  @apply break-all;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
